<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'aluno')}">

<body>
	<div class="panel panel-default">
		<div class="panel-heading">
			<strong>Alunos</strong>
		</div>
		<div class="panel-body">
			<div class="table-responsive">
				<table class="table table-sm table-striped table-hover table-bordered">
					<thead>
						<tr>
							<th>ID</th>
							<th>Matricula</th>
							<th>Nome</th>
							<th>Dt.Nascimento</th>
							<th>Email</th>
							<th>Escola</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="aluno : ${alunos}">
							<td th:text="${aluno.id}"></td>
							<td th:text="${aluno.matricula}"></td>
							<td th:text="${aluno.nome}"></td>
							<td th:text="${#dates.format(aluno.dataNascimento, 'dd/MM/yyyy')}"></td>
							<td th:text="${aluno.email}"></td>
							<td th:text="${aluno.escola != null} ? ${#strings.toUpperCase(aluno.escola.nome)} : 'A Escola é null'"></td>
							<td>
								<div class="btn-group pull-right">
							   		<a class="btn btn-sm btn-primary" th:href="@{/editAluno/{id}(id=${aluno.id})}" >Editar</a>
							   		<a class="delete btn btn-sm btn-danger" th:href="@{/deleteAluno/{id}(id=${aluno.id})}">Excluir</a>
							   </div>
							</td>
							
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div class="panel-footer">
			<a class="btn btn-sm btn-success" th:href="@{/addAluno/}" >Adicionar</a>
		</div>
	</div>
</body>


</html>